*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

h3{
  font-size: 13px;
}

h4{
  font-size: 12px;
}

aside, .container{
  float: left;
  height: calc(100vh - 80px);
}

aside ul li, nav ul li, aside ul li a, .crea, .installa, .row p{
  color: #717171;
}

.grey{
  background-color: #5A5A5A;
}

.lightgrey{
  background-color: #C1C1C1;
}

/* MAIN  */
/* aside  */
aside{
  width: 200px;
  background-color: black;
}

.aside-top{
  height: calc(100% - 50px);
  min-height: 300px;
  overflow: hidden;
}

.logo img, aside ul li, aside h4, aside .crea{
  padding-left: 20px;
}

.logo img{
  width: 130px;
  padding: 10px 0 20px 15px;
}

.first-list{
  padding-bottom: 10px;
}

aside ul li{
  list-style: none;
  font-size: 11px;
  line-height: 30px;
}

.first-list i{
  font-size: 17px;
  padding-right: 5px;
}

aside ul li a{
  text-decoration: none;
  font-size: 10px;
}

aside .first-list li:hover {
  color: white;
  cursor: pointer;
  border-left: 2px solid #ADFF2F;
}

aside h4, aside .crea{
  padding-bottom: 15px;
}

aside h4{
  text-transform: uppercase;
}

.crea{
  display: flex;
  align-items: center;
  font-size: 12px;
}

.crea i{
  font-size: 30px;
  padding-right: 5px;
}

/* aside-bottom */
.aside-bottom{
  width:80%;
  height: 50px;
  margin: 0 auto;
}

.aside-bottom .installa{
  font-size: 10px;
  border-bottom: 1px solid #717171;
  padding-bottom: 5px;
}

.aside-bottom .user{
  font-size: 12px;
  padding: 5px 0;
}


/* conteiner  */
.container, .upgrade{
  width: calc(100% - 200px);
}

.container{
  background-color: #141922;
  overflow: auto;
}

/* upgrade */
.upgrade{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 50;
}

.upgrade .btn{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  margin-right: 25px;
}

/* nav */
nav{
  padding-bottom: 20px;
}
nav ul{
  margin-top: 80px;
  text-align: center;
}
nav ul li{
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}


nav ul li .line{
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 1px;
  background-color: #ADFF2F;
  margin-top: 2px;
}

nav ul li:hover{
  cursor: pointer;
}

nav ul li:hover .line{
  display: block;
}

/* content  */

.row h2{
  font-size: 18px;
}

.row{
  margin-left: 15px;
}

.row p{
  font-size: 10px;
 }

.songs{
  display: flex;
  justify-content: flex-start;
}

.box{
  position: relative;
  width: 15%;
  min-height: 200px;
  margin: 20px 10px 20px 0;
}

.box img{
  width: 100%;
}

.box .play{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.61);
}

.box .play i{
  font-size: 3vw;
}

.box:hover .play{
  display: flex;
  cursor: pointer;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description h3{
  text-align: center;
  padding-bottom: 5px;
}

.songs.artist img, .songs.artist .box .play{
  border-radius: 50%;
}


/* FOOTER */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #282828;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

.line span{
  border-radius: 50px;
  height: 4px;
}

/* footer-left  */
.footer-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left img{
  width: 40px;
}

.song-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.song-title p{
  font-size: 10px;
}

/* footer-centre */
.song-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.song-btn i{
  padding: 0 10px;
  font-size: 14px;
}

.song-btn i.fa-play-circle{
  font-size: 20px;
  padding: 0 15px;
}

.song-time{
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-time .line{
  display: flex;
  margin: 0 10px;
}


.song-time .line .lightgrey{
  width: 80px;  
}

.song-time .line .grey{
  width: 300px;
}

.song-time span{
  font-size: 10px;
}

/* footer-right */
.footer-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right i{
  margin-right: 10px;
  font-size: 14px;
}

.footer-right .line{
  display: flex;
  margin: 0 10px;
}


.footer-right .line .lightgrey{
  width: 30px;
}

.footer-right .line .grey{
  width: 100px;
}