/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* UTILITY  */
h3{
  font-size: 13px;
}

h4{
  font-size: 12px;
}

aside, .container{
  float: left;
  height: calc(100vh - 80px);
}

.grey, .grey li a, .crea, .row p, .footer-left i{
  color: #717171;
}

.line .grey{
  background-color: #5A5A5A;
}

.lightgrey{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #C1C1C1;
}

/* MAIN  */
aside{
  width: 200px;
  background-color: black;
  overflow: hidden;
}
/* aside-top  */
.aside-top{
  height: calc(100% - 50px);
  min-height: 300px;
  overflow: hidden;
}
.logo img, aside ul li, aside h4, aside .crea{
  padding-left: 20px;
}
.logo img{
  width: 130px;
  padding: 10px 0 20px 15px;
}
.logo img:last-child{
  display: none;
}
aside ul li{
  list-style: none;
  font-size: 11px;
  line-height: 30px;
}
/* first-list  */
.first-list svg{
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
  filter: invert(0.5);
}
.first-list{
  padding-bottom: 10px;
}
/* second-list */
.second-list{
  overflow: auto;
  height: 50%;
}
aside ul li a{
  text-decoration: none;
  font-size: 10px;
}
.active svg{
  filter: invert(0);
}
/* aside-hover  */
aside li:hover, aside .crea:hover, aside .active{
  color: white;
  cursor: pointer;
  border-left: 2px solid #ADFF2F;
  padding-left: 18px;
}
aside li:hover a{
  color: white;
}
aside li:hover svg{
  filter: invert(0);
}
/* crea  */
aside h4, aside .crea{
  padding-bottom: 15px;
}
aside h4{
  text-transform: uppercase;
}
.crea{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.crea i{
  font-size: 30px;
  padding-right: 5px;
}

/* aside-bottom */
.aside-bottom{
  width:80%;
  height: 50px;
  margin: 0 auto;
}
.aside-bottom svg{
  width: 15px;
  vertical-align: middle;
  color: #5A5A5A;
}
.aside-bottom .installa{
  font-size: 10px;
  border-bottom: 1px solid #717171;
  padding-bottom: 5px;
}
.aside-bottom .user{
  font-size: 12px;
  padding: 5px 0;
}
.aside-bottom .user svg{
  background-color: #717171;
  border-radius: 50%;
  color: white;
}
.aside-bottom div:hover{
  color: white;
  cursor: pointer;
}


/* conteiner-right-main  */
.container, .upgrade{
  width: calc(100% - 200px);
  background-color: #141922;
  overflow: auto;
}


/* upgrade-fixed */
.upgrade{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 50;
}
.upgrade .btn{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 25px;
  margin-right: 25px;
}
.upgrade .btn:hover{
  transform: scale(1.1);
}


/* nav */
nav{
  padding-bottom: 20px;
}
nav ul{
  margin-top: 80px;
  text-align: center;
}
nav ul li{
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
nav ul li .line{
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 1px;
  background-color: #ADFF2F;
  margin-top: 2px;
}
nav li.active .line{
  display: block;
}
nav ul li:hover{
  cursor: pointer;
  color: white;
}
nav ul li:hover .line{
  display: block;
}


/* content  */
.row{
  margin-left: 15px;
}
.row h2{
  font-size: 18px;
}
.row p{
  font-size: 10px;
 }
.songs{
  display: flex;
  justify-content: flex-start;
}

.box{
  position: relative;
  width: 15%;
  min-height: 200px;
  margin: 20px 10px 20px 0;
}
.box .play-container{
  position: relative;
  width: 100%;
}
.box img{
  width: 100%;
}

/* box-hover  */
.box .play{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  transition: all 0.5s;
}
.box .play i{
  font-size: 3vw;
}
.box:hover .play{
  display: flex;
  cursor: pointer;
}

.box .play:hover{
  background-color: rgba(0, 0, 0, 0.61);
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.description h3{
  text-align: center;
  padding-bottom: 5px;
}
.songs.artist img, .songs.artist .box .play{
  border-radius: 50%;
}


/* FOOTER */
footer{
  width: 100%;
  height: 80px;
  background-color: #282828;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 100%;
  margin: 0 auto;
}
.line span{
  border-radius: 50px;
  height: 4px;
}

/* footer-left  */
.footer-left{
  display: flex;
  align-items: center;
  width: 25%;
}
.footer-left img{
  min-width: 25px;
  max-width: 12%;
}
.song-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  padding-right: 10%;
}
.song-title p{
  font-size: 10px;
}
.footer-left .utility{
  display: flex;
}
.footer-left .utility i{
  padding-left: 10px;
}

/* footer-left-hover  */
.song-title p:hover, .footer-left i:hover{
  color: white;
  cursor: pointer;
}
.song-title p:hover{
  text-decoration: underline; 
}


/* footer-centre */
.footer-center{
  width: 40%;
}
.song-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.song-btn i{
  padding: 0 10px;
  font-size: 14px;
}
.song-btn i.fa-play-circle{
  font-size: 20px;
  padding: 0 15px;
}

.song-time{
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-time span{
  font-size: 10px;
}
.song-time .line{
  display: flex;
  margin: 0 10px;
  width: 100%;
}
.song-time .line .lightgrey{
  width: 20%;  
}
.song-time .line .grey{
  width: 80%;
}
/* line-hover */
.line .lightgrey i{
  display: none;
}
.line:hover{
  cursor: pointer;
}
.line:hover .lightgrey{
  background-color: #ADFF2F;
}
.line:hover i{
  display: block;
}

.fa-play-circle:hover{
  transform: scale(1.3);
  cursor: pointer;
}


/* footer-right */
.footer-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}
.footer-right i{
  margin-right: 10px;
  font-size: 14px;
}
.footer-right .line{
  display: flex;
  width: 30%;
}
.footer-right .line i{
  margin-right: 0;
}
.footer-right .line .lightgrey{
  width: 30%;
}
.footer-right .line .grey{
  width: 70%;
}

/* RESPONSIVE */
@media screen and (max-width: 991px){
  .songs{
    flex-wrap: wrap;
  }
  
  .box{
    width: 23%;
  }

  .box .play i{
    font-size: 4vw;
  }
}

@media screen and (max-width: 767px){
   .box{
    width: 45%;
  }

  .box .play i{
    font-size: 6vw;
  }
}

@media screen and (max-width: 576px){
  aside{
    width: 45px;
    background-color: black;
    overflow: hidden;
  }
  .container, .upgrade{
    width: calc(100% - 45px);
  }
  .logo img:first-child{
    display: none;
  }
  .logo img:last-child{
    display: block;
    width: 35px;
    padding-left: 10px;
  }
  aside .second-list, aside .crea, aside h4, aside span{
    display: none;
  }
  .first-list li{
    padding-left: 10px;
  }
  .first-list li:hover{
    padding-left: 8px;
  }
  .aside-bottom{
    text-align: center;
  }
  .aside-bottom .installa{
    border-bottom: 0;
  }
}

@media screen and (max-height: 158px){
  .upgrade{
    display: none;
  }
}

@media screen and (max-width: 499px){
  .footer-left{
    width: 15%;
  }
  .song-title h5{
    font-size: 10px;
  }
  .song-title p{
    font-size: 7px;
  }
  .footer-left .utility{
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .footer-right{
    width: 10%;
  }
  .footer-right .line{
    display: none;
  }
}

@media screen and (max-width: 379px){
  .footer-left img{
    min-width: 25px;
    max-width: 100%;
  }
  .footer-left img:hover{
    transform: scale(1.1);
  }
  .song-title{
    display: none;
  }
  .footer-center{
    width: 60%;
  }
  .footer-right{
    display: flex;
    flex-direction: column;
  }
  .footer-right i{
    padding: 5px 0;
  }
}